@import "tailwindcss";

@theme {
  --color-cream: #FDFBF7;
  --color-brand-yellow: #FACC15;
  --color-brand-black: #171717;
  --color-brand-gray: #F3F4F6;
}

body {
  @apply bg-cream text-brand-black antialiased;
}
